<div class="select-container">
<div ng-repeat="player in players" class="player-select" style="background: linear-gradient(60deg, {{player.info.colors.colorSecondary}}, {{player.info.colors.colorMain}});">
	<span ng-if="!player.stats">
		<input class="search-input" type="text" placeholder="QB Name" ng-model="player.name">
		<ul class="suggestions"></ul>
		<button class="search-btn" ng-click="reqPlayer($index + 1)" ng-class="(player.name == '') ? 'inactive' : 'active'">Search</button>
		<p>{{player.stats}}</p>
	</span>
	<span ng-if="player.stats">
		<div class="erase" ng-click="erasePlayer($index + 1)" style="color: {{player.info.colors.textColor}};">x</div>
		<a ng-href="/player/{{player.info.firstname.toLowerCase()}}%20{{player.info.surname.toLowerCase()}}">
			<img ng-src="{{player.info.img}}">
		</a>
		<div class="info" style="color: {{player.info.colors.textColor}};">
			<p>{{player.info.firstname}} {{player.info.surname}}</p>
			<p>{{player.info.team}} - #{{player.info.number}}</p>
			<p>{{player.info.exp}}</p>
		</div>
	</span>
</div>
</div>

<form class="year-career-controls">
	<input type="radio" id="year-compare" value="year" ng-model="compareYearCareer" ng-change="updateYearCareer()">
	<label for="year-compare" title="Compare By Year">
		Compare By Year
	</label>
	<input type="radio" id="career-compare" value="career" ng-model="compareYearCareer" ng-change="updateYearCareer()">
	<label for="career-compare" title="Compare By Career">
		Compare By Career
	</label>
</form>

<div class="chart-size-controls">
	<div class="chart-size-up" title="Increase Chart Size">
		+
	</div>
	<div class="chart-size-down" title="Decrease Chart Size">
		-
	</div>
</div>

<h2 class="career-compare-heading" ng-if="!totalYears">
	Enter a QB name to get started!
</h2>

<div class="compare-controls">
<select ng-model="chartStat" type="text" ng-change="changeCareerStat()" class="career-compare-select" ng-class="{show: totalYears}">
	<option value="yards">Yards</option>
	<option value="tds">TDs</option>
	<option value="ints">INTs</option>
	<option value="attempts">Pass Attempts</option>
	<option value="completions">Pass Completions</option>
	<option value="compperc">Completion %</option>
	<option value="tdperc">TD %</option>
	<option value="yardsatt">Yards per Attempt</option>
	<option value="sacks">Sacks</option>
	<option value="sackyards">Sack Yards</option>
	<option value="yardspersack">Yards Per Sack</option>
	<option ng-if="compareYearCareer == 'career'" value="starts">Games Started</option>
</select>
</div>

<div class="year-compare-controls" ng-if="compareYearCareer == 'year'">
	<select ng-repeat="player in players" ng-if="player.stats " ng-model="playerYears[player.info.surname + ($index + 1)]" ng-change="changePlayerYear()">
		<option value="">{{player.info.surname}}</option>
		<option ng-repeat="year in player.stats.allYears" ng-value="{{year}}" ng-selected="$index == 0">{{year}}</option>
	</select>
</div>

<canvas ng-if="totalYears.length > 0" ng-class="(compareYearCareer == 'career') ? 'show' : ''" id="careerCompare" width="600"></canvas>
<canvas ng-if="totalYears.length > 0" ng-class="(compareYearCareer == 'year') ? 'show' : ''" id="yearCompare" width="600"></canvas>

<div class="share-links" ng-class="(totalYears.length > 0) ? 'show' : ''">
	<a id="shareLink" ng-click="createLink()">Share Link&nbsp;<img src="img/share.png" height="22"></a>
	<a id="downloadLink" download="CompareQBChart.png">Download as PNG&nbsp;<img src="img/download.png" height="24"></a>
</div>

<div class="games-list" ng-if="compareYearCareer == 'year' && totalYears.length > 0" ng-repeat="player in players">
	<div class="player-games" ng-if="player.hasOwnProperty('stats')">
		<p>{{player.info.surname}} Games in {{playerYears[player.info.surname + ($index + 1)]}}</p>
		<div class="games-container">
			<div class="game-list-item" style="background-color: {{player.info.colors.colorMain}}; color: {{player.info.colors.textColor}};" ng-repeat="game in playerYears[player.info.surname + ($index + 1) + 'games']">Game {{game.week}}<br><strong>{{game.opp}}</strong></div>
		</div>	
	</div>
</div>

<div class="share-link-overlay">
	<div class="close-share-link">x</div>
	<input class="share-link" type="text" ng-value="shareLink">
	<p class="share-link-outcome"></p>
</div>

<script>

$(".chart-size-up").click(function(){
	if ($('canvas').width() < (window.innerWidth - 100)){
		console.log("click");
		var width = $('canvas').width();
		var height = $('canvas').height();
		$('canvas').css({"max-width": "" + (width+100) + "px", "width": "" + (width+100) + "px", "height": "" + (height+50) + "px"});
	}
})

$(".chart-size-down").click(function(){
	if ($('canvas').width() > 500){
		var width = $('canvas').width();
		var height = $('canvas').height();
		$('canvas').css({"max-width": "" + (width-100) + "px", "height": "" + (height-50) + "px"});
	}
})

$("#downloadLink").click(function(){
	var canvas = document.getElementById("yearCompare");
	var destCanvas = document.createElement('canvas');
	destCanvas.width = canvas.width;
	destCanvas.height = canvas.height;
	var ctx = destCanvas.getContext('2d');
	ctx.fillStyle = '#efefef';
	ctx.fillRect(0, 0, canvas.width, canvas.height);
	ctx.drawImage(canvas,0,0);
	var img = destCanvas.toDataURL('image/png', 2.0);
	$(this).attr("href", img);
});

$("#shareLink").click(function(){
	$(".share-link-overlay").addClass("show");
	setTimeout(function(){
		$(".share-link").select();
		try {
			document.execCommand("copy");
			$(".share-link-outcome").text("Link copied to clipboard.");
		}
		catch(e) {
			$(".share-link-outcome").text("Copying to clipboard failed.");
			console.log(e);
		}		
	},200);
});

$(".close-share-link").click(function(){
	$(".share-link-overlay").removeClass("show");
})

setTimeout(function(){

	$(".select-container").on("keyup", ".search-input", function(e){
		//Go to player page on enter

		if (e.keyCode == 13){
		//window.location = "#!/player/" + $(this).val().toLowerCase();
		$(".search-overlay").removeClass("show");
		}

		//Live search update

		if ($(this).val().length > 2){ 

			$self = $(this);

			$.ajax({
				url: 'php/livesearch.php?search=' + $(this).val(),
				success: function(response){
					$self.siblings(".suggestions").html(response);
				},
				error: function(response){
					console.log("Error! - " + request.status);
				}
			})

		}

	});


	$(".select-container").on("click", ".suggestions", function(e){

		if (e.target.tagName == "LI"){
			$(this).siblings(".search-input").val(e.target.innerHTML).change();
		}

		$(this).html("");
		$(".search-overlay").removeClass("show");		
	})

	$(".player-select .search-input").eq(0).focus();
},120);

</script>