/* line 3, ../../sass/partials/index.scss */
.index-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 80px;
}
/* line 15, ../../sass/partials/index.scss */
.index-container .about-link {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 20, ../../sass/partials/index.scss */
.index-container h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.8rem;
  color: #0FC4DB;
}
/* line 24, ../../sass/partials/index.scss */
.index-container h1 .h1-color2 {
  color: #068C9E;
}
/* line 28, ../../sass/partials/index.scss */
.index-container h2 {
  font-family: "Noto Sans", sans-serif;
  color: #222;
  font-size: 1.4rem;
  margin-top: 40px;
}
/* line 34, ../../sass/partials/index.scss */
.index-container h3 {
  font-family: "Noto Sans", sans-serif;
  color: #555;
  font-size: 1.1rem;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
  line-height: 1.4;
}
/* line 43, ../../sass/partials/index.scss */
.index-container input {
  margin-top: 12px;
  width: 280px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
}
/* line 49, ../../sass/partials/index.scss */
.index-container .suggestions {
  width: 280px;
  text-align: left;
  background-color: #DEDEDE;
}
/* line 53, ../../sass/partials/index.scss */
.index-container .suggestions li {
  padding: 6px 10px;
  border-bottom: 1px solid #BBB;
  font-size: 0.8rem;
  color: #222;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  transition: all 200ms ease-out;
}
/* line 61, ../../sass/partials/index.scss */
.index-container .suggestions li:hover {
  color: #0FC4DB;
}
/* line 66, ../../sass/partials/index.scss */
.index-container button {
  margin-top: 8px;
  width: 280px;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  padding: 8px 0;
  background: linear-gradient(60deg, #04B9D1, #88EFFC);
  border: none;
  color: #FDFDFD;
  border-radius: 4px;
  transition: all 300ms ease-out;
}
/* line 77, ../../sass/partials/index.scss */
.index-container button:active {
  transform: translateY(1px);
}
/* line 81, ../../sass/partials/index.scss */
.index-container .browse-link {
  margin-top: 8px;
  text-align: center;
  width: 280px;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  padding: 8px 0;
  background: #FDFDFD;
  color: #04B9D1;
  border-radius: 4px;
  transition: all 400ms ease-out;
  cursor: pointer;
}
/* line 94, ../../sass/partials/index.scss */
.index-container a {
  text-decoration: none;
}
/* line 97, ../../sass/partials/index.scss */
.index-container .about {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #333;
  padding: 20px;
  line-height: 1.4;
}
