$fontstack: "Noto Sans", sans-serif;

.select-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	font-family: $fontstack;
	background-color: #FAFAFA;
	box-shadow: 0px 0px 6px #222;
	.player-select {
		width: 99%;
		margin: 10px auto;
		height: 116px;
		text-align: center;
		position: relative;
		input {
			width: 80%;
			max-width: 240px;
			font-size: 1rem;
			margin-top: 20px;
		}
		.suggestions {
		width: 280px;
		text-align: left;
		background-color: #DEDEDE;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 10;
			li {
				padding: 6px 10px;
				border-bottom: 1px solid #BBB;
				font-size: 0.6rem;
				color: #222;
				font-family: $fontstack;
				cursor: pointer;
				transition: all 200ms ease-out;
				&:hover {
					color: #0FC4DB;
				}
			}
		}
		button {
			margin-top: 8px;
			width: 80%;
			max-width: 240px;
			font-family: $fontstack;
			font-size: 0.7rem;
			padding: 8px 0;
			background: linear-gradient(60deg, #04B9D1, #88EFFC);
			border: none;
			color: #FDFDFD;
			border-radius: 4px;
			transition: all 400ms ease-out;
			margin-bottom: 20px;
			&.active:hover {
				transform: translateY(-1px);
				color: #888;
			}
			&.inactive {
				opacity: 0.7;
				background: #ccc;
				pointer-events: none;
				cursor: default;
			}
		}
		.erase {
			position: absolute;
			top: 6px;
			left: 8px;
			font-size: 14px;
			font-weight: bold;
			cursor: pointer;
		}
		img {
			height: 100px;
			margin: 8px 20px;
			float: left;
		}
		.info {
			height: 100px;
			margin: 8px 20px;
			float: right;
			font-size: 14px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-around;
			max-width: 150px;
			p {
				&:first-child {
					font-weight: bold;
					font-size: 14px;
				}
			}
		}
	}
}

#careerCompare, #yearCompare {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto 80px auto;
	transition: all 180ms ease-out;
}

.chart-size-controls {
	width: 100px;
	margin-top: 20px;
	margin-left: 5px;
	display: none;
	align-items: center;
	justify-content: space-around;
	.chart-size-up, .chart-size-down {
		width: 30px;
		height: 30px;
		background-color: #BBB;
		color: #333;
		font-family: $fontstack;
		font-size: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 4px 2px 4px;
		cursor: pointer;
		transition: all 160ms ease-out;
		&:hover {
			background-color: #999;
		}
	}
}

.year-career-controls {
	width: 320px;
	margin-top: 20px;
	margin-right: 5px;
	float: right;
	display: flex;
	font-family: $fontstack;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	position: relative;
	#year-compare {
		position: absolute;
		left: 10px;
		opacity: 0;
	}
	#career-compare {
		position: absolute;
		right: 10px;
		opacity: 0;
	}
	input[type=radio]:checked+label {
		background-color: #0FC4DB;
		color: #fdfdfd;
	}
	label {
		width: 160px;
		height: 30px;
		background-color: #BBB;
		color: #333;
		font-family: $fontstack;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px 12px;
		cursor: pointer;
		transition: all 160ms ease-out;
		&:hover {
			background-color: #999;
		}
	}
}

.career-compare-heading {
	font-family: $fontstack;
	text-align: center;
	font-size: 18px;
	margin-top: 32px;
	color: #999;
}

.compare-controls {
	width: 100%;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	.career-compare-select {
		font-family: $fontstack;
		font-size: 14px;
		width: 80%;
		max-width: 240px;
		display: none;
		&.show {
			display: block;
		}
	}
}