$fontstack: "Noto Sans", sans-serif;

.search-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	z-index: 10;
	transform: translateY(-100%);
	transition: all 300ms ease-out;
	&.show {
		opacity: 1;
		transform: translateY(0);
	}
	input {
		margin-top: 12px;
		width: 280px;
		font-family: $fontstack;
		font-size: 1.2rem;
	}
	.suggestions {
		width: 280px;
		text-align: left;
		background-color: #DEDEDE;
		li {
			padding: 6px 10px;
			border-bottom: 1px solid #BBB;
			font-size: 0.8rem;
			color: #222;
			font-family: $fontstack;
			cursor: pointer;
			transition: all 200ms ease-out;
			&:hover {
				color: #0FC4DB;
			}
		}
	}
	button {
		margin-top: 8px;
		width: 280px;
		font-family: $fontstack;
		font-size: 0.9rem;
		padding: 8px 0;
		background: linear-gradient(60deg, #04B9D1, #88EFFC);
		border: none;
		color: #FDFDFD;
		border-radius: 4px;
		transition: all 400ms ease-out;
		&:hover {
			transform: translateY(-1px);
			color: #888;
		}
	}
}